$primary-color: rgb(0, 255, 191);
$text-color: rgb(255, 0, 136);
$font-weights: (
  // "key": value,
  "regular": 400,
  "medium": 600,
  "bold": bold
);
$font-sizes: (
  "small": 12px,
  "medium": 20px,
  "large": 28px,
);