$primary-color: rgb(62, 63, 63);
$text-color: rgb(255, 0, 136);
$hover-color: rgb(208, 255, 0);
$font-weights: (
  // "key": value,
  "regular": 400,
  "medium": 600,
  "bold": bold
);
$font-sizes: (
  "small": 12px,
  "medium": 20px,
  "large": 28px,
);


$mobile-width: 800px;